FASTAPI_PORT={{ fastapi_port | default(8000) }}
ORCH_SECRET={{ orch_env.ORCH_SECRET | default('changeme') }}
QDRANT_URL={{ orch_env.QDRANT_URL | default('http://localhost:6333') }}
LITELLM_URL={{ orch_env.LITELLM_URL | default('http://localhost:4000') }}
